<div id="webs">
  <div id="carousel" class="owl-carousel">  


    <a target="_blank" href="http://jam-capture-vcon-ww.ateamid.com/es/character_list/1.html?filter=#1">
    <div class="card">
      <div class="Characters">
        <h1>Character</h1>
      </div>
      <h2>Info</h2>
      <p>Mira los personajes y colaboraciones que tenemos</p>
      <img src="../assets/img/characters.png" alt="" id="characters" />
    </div>
    </a>

    <a target="_blank" href="http://jam-capture-vcon-ww.ateamid.com/es/equip_list/3.html">
    <div class="card">
        <div class="Armor">
            <h1>Armor</h1>
        </div>
        <h2>Info</h2>
        <p>Todas las armas, armaduras, accesorios y sus habilidades</p>
        <img src="../assets/img/armor.png" alt="" id="armor" />
    </div>
    </a>
    <a target="_blank" href="http://jam-capture-vcon-ww.ateamid.com/es/connect_list.html">
    <div class="card">
      <div class="connect">
        <h1>Connect</h1>
      </div>
        <h2>Info</h2>
        <p>Todo acerca de las Connect Battle y sus recompensas</p>
      <img src="../assets/img/connect.png" alt="" id="connect" />
    </div>
    </a>

    <a target="_blank" href="http://jam-capture-vcon-ww.ateamid.com/es/raid_list.html">
    <div class="card asalt">
        <div class="Asalt">
            <h1>Asalt</h1>
        </div>
        <h2>Info</h2>
        <p>Todo acerca de los Asaltos y sus recompensas</p>
        <img src="../assets/img/asalt.png" alt="" id="asalt" />
    </div>
    </a>

    <a target="_blank" href="http://jam-capture-vcon-ww.ateamid.com/es/artifact_list/1.html">
    <div class="card">
      <div class="Article">
        <h1>Article</h1>
      </div>
      <h2>Info</h2>
      <p>Todo los articulos y donde conseguirlos</p>
      <img src="../assets/img/article.png" alt="" id="article" />
    </div>
    </a>

    <a target="_blank" href="http://jam-capture-vcon-ww.ateamid.com/es/beginner/index.html">
    <div class="card">
      <div class="Guia">
        <h1>Guia</h1>
      </div>
      <h2>Info</h2>
      <p>Guia sobre el juego y todo lo que brindamos</p>
      <img src="../assets/img/guia.png" alt="" id="guia" />
    </div>
    </a>

    <a target="_blank" href="http://jam-capture-vcon-ww.ateamid.com/es/status_list.html">
    <div class="card">
      <div class="Status">
        <h1>Stauts</h1>
      </div>
      <h2>Info</h2>
      <p>Todos los efectos que pueden dar o recibir tus personajes en una pelea</p>
      <img src="../assets/img/status.png" alt="" id="status" />
    </div>
    </a>

  </div>
</div>
