<main id="container" tabindex="0">
<nav>
  <ul>
    <img src="../assets/img/logo.png" alt="" class="logo">
    <a routerLink="/Equipo" (click)="transition()"><li tabindex="0" class="trigger-animation">INICIO</li></a>
    <a href=""><li tabindex="0" class="trigger-animation">WEB OFICIAL</li></a>
    <a href=""><li tabindex="0" class="trigger-animation">EQUIPO</li></a>
    <a href=""><li tabindex="0" class="trigger-animation">CONTACTO</li></a>
    <input type="text" placeholder="Buscar">
    <img src="../assets/img/search.png" alt="" class="icon">
  </ul>
</nav>
<section tabindex="0" id="section-to-change-color">
  <app-card></app-card>
  <div class="footer">
    <p>@Author Gonzalo Adami</p> 
    <p>Linkedin</p>
  </div>
</section>
</main>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const liElements = document.querySelectorAll('.trigger-animation');
    const animationSection = document.getElementById('animation-section');

    liElements.forEach(li => {
      li.addEventListener('click', () => {
        li.focus();
      });

      li.addEventListener('keydown', event => {
        if (event.key === 'Enter') {
          li.focus();
        }
      });

      li.addEventListener('focus', () => {
        animationSection.classList.add('animation-active');
      });
    });
  });
</script>


